@import '~@/styles/variables.scss';

@mixin navBarComponentStyle {
  width: #{$topHeight};
  height: #{$topHeight};
  display: flex;
  align-items: center;
  justify-content: center;
} 

@mixin hoverStyle {
  &:hover {
    background: #eee;
  }
}

