@import '~@/styles/variables.module.scss';

// navBar组件wrapper的通用样式
@mixin navBarComponentStyle {
  width: #{$topHeight};
  height: #{$topHeight};
  display: flex;
  align-items: center;
  justify-content: center;
} 
// 接上，一些组件额外需要的hover效果
@mixin hoverStyle {
  &:hover {
    background: lightgray;
  }
}

